* {

    margin : 0;
    padding: 0;

}
body {

width: 100%;
height: 100%;

background-image:url(https://www.superestudio.com/imagenes/productos/Unicolor%20AZL/Unicolor%20AZL1.jpg);

}

#contenedor {
    width: 70%;
height: 100%;
background-image:url(https://www.superestudio.com/imagenes/productos/Unicolor%20AZL/Unicolor%20AZL1.jpg);
margin-left: 15%;
background-color: #fff;
}

#form {
 width: 70%;
height: 100%;
margin-left: 15%;
background-color: #c3fbec;
}
